<?xml version="1.1" ?>
<launch> 
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
	</include>
	<param name="robot_description"  command="$(find xacro)/xacro.py '$(find rotors_description)/urdf/static_delta.xacro'" />
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param  robot_description -urdf -model delta" />
</launch>